# ignore all output json files
output/*
# but keep the output folder
!output/.gitkeep
# ignore all result png and csv files
res/*
# but keep the res folder
!res/.gitkeep
# ignore all repos seen txt files in protocols
protocols/*.txt
logfile.log
__pycache__
.env